<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css" />
    <title></title>
</head>
<body>
    <header>
            <a href="">
                <img src="../public/img/logo.png" alt="logo">
                <h1>Cyberus Developement</h1>
            </a>
            <nav class="noconnect">
                <li><a href="">Articles</a></li>
                <li><a href="">Se connecter</a></li>
                <li><a href="">S'enregistrer</a></li>
            </nav>
            <!--<nav class="connect">
                <li><a href="">Articles</a></li>
                <li><a href="">Déconnection</a></li>
            </nav>-->
    </header>
</body>
</html>